/* style.css */
body {
  font-family: Lato;
  color: #404042;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-family: Lato;
  color: #FEFEFE;
}

h2 {
	font-family: Lato;
	color: #000000;
}

h3 {
	font-family: Lato;
}

p {
	color: #FEFEFE;
}


a {
  color: #FEFEFE;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
  background-color: #165E78;
  padding: 8px 50px;
  border-radius: 3px;
  line-height: 50px;

}

a:hover {
  color: #000000;
}/* Write some CSS below */

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
}

.card-white {
	background: white;
    box-shadow: 0 0 16px rgb(0 0 0 / 10%);
    border-radius: 4px;
    width: 200px;
    text-align: center;
    padding: 24px;
    margin: 8px;
    flex-grow: 1;
    left: 30px;
}

img {
	width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

.footer {
	text-align: center;
	background: #165E78;
	color: #FEFEFE;
	padding: 20px;
}

.whatever {
	display: flex;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.banner-paragraph {
	color: #9BB7C1;
}


